.container {
    max-width: 660px;
}

.hand {
    cursor: pointer;
}

.no-padding {
	padding-left: 0px;
    padding-right: 0px;
}

/*.cardCanvas {
  background-color: blue; 
  width: 100%;
  height: auto;
}*/

@media (min-width: 768px) {
}

@media (max-width: 767px) {
}